/* You can add global styles to this file, and also import other style files */
th,td{
  text-align: center;
}

thead th {
  border: 2px solid black;
}

tbody td{
  padding: 4px;
  border: 1px solid black;
}

.removeBorder{
  border: none;
}
