/* You can add global styles to this file, and also import other style files */

th,td{
  text-align: center;
}

.thead th {
  border: 2px solid black;
}

.tbody td{
  padding: 10px 4px;
}

.removeBorder{
  border: none !important;
}

.tableHeader{
  background-color: #FAF7F2;
}

.lessonVariable{
  background-color: #D1B7A0;
}

.lessonDefault{
  background-color: #F5E4DA;
}

.header{
  display: flex;
  justify-content: right;
}

.date-range-input{

}

.timeTable{
  table-layout:fixed;
  width: 100%;
  border: 1px solid black;
}

@media only screen and (max-width: 600px){
  .timeTable {
    font-size: 7px !important;
    line-height: 12px !important;
  }

  .tbody td{
    padding: 5px 4px;
  }
}

.open-source {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9;
}

.open-source a {
  color: blue;
}

@media (min-width: 1200px){
  .timeTable {
    font-size: 20px !important;
    line-height: 25px !important;
  }
}

body { padding: 1% 1% 0 1%; font-family: Roboto, "Helvetica Neue", sans-serif;}
